body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 6px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10px 300px;
  grid-template-rows: 50px 50px 420px 50px;
  gap: 5px;
}

.container div {
  padding: 5px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;

 
}

.header {
  background-color: #006157;
    grid-column: 1/5;
    grid-row: 1/2;
}

.sidebar {
  background-color: #005B94;
    grid-column: 1/3;
    grid-row: 2/4;
}

.nav {
  background-color: #642cde;
    grid-column: 3/5;
    grid-row: 2/3;

}

.article {
  background-color: #7E1DC3;
    grid-column: 3/5;
    grid-row: 3/4;

}

.footer {
  background-color: #393f4d;
    grid-column: 1/5;
    grid-row: 4/5;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}